html {
    font-size: 100%;
}

#calculator-wrapper {
    background-color: aqua;
    width: 300px;
    padding: 20px;
}

#input-wrapper {
    background-color: blue;
    height: 80px;
}

#button-wrapper {
    background-color: blueviolet;
    height: 300px;
}

#number-input {
    height: 40px;
    width: 200px;
    font-size: 2rem;
}

